*{margin: 0;padding: 0;list-style: none;font-family: "楷体";font-size: 20px}
.fl{float: left;}
.fr{float: right;}
.pr{position:relative;}
.pa{position:absolute;}
.pf{position: fixed;}
/*头部*/
.header{
    width: 1349px;
    height: 600px;
    background: url("../images/IMG_0124.JPG")0 0/100% 100% no-repeat;
}
/*导航栏1*/
.header-top{
    width: 100%;
    height: 160px;
    background: rgba(255,255,255,0);
    transition: all 0.2s linear;
    z-index: 30;
}
.header-top li{
    margin: 10px 15px;
    color:white;
    cursor: pointer;
    transition:all 0.2s linear;
}
.header-top-con:hover{
    color: red;
    background: rgba(255,255,255,0.4);
}
/*导航栏2*/
#header-top{
    width: 100%;
    height: 60px;z-index: 30;
    background: rgba(255,255,255,0.7);
    transition:all 0.2s linear;
}
#header-top li{
    margin: 10px 15px;
    color:black;
    cursor: pointer;
    transition:all 0.2s linear;
}
.header-btm{
    width: 900px;
    height: 180px;
    left: 50%;bottom: -60px;
    margin-left: -450px;
    border-radius:3px;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 15px rgba(157,157,157,0.5);
}
.header-btm div{
    background: url("../images/IMG_2112.JPG")-24px -17px/142% 209% no-repeat;
    height: 120px;width: 120px;
    border-radius:50%;
    margin: 0 auto;
}
.header-btm p{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
/*内容*/
.content{
    height: 2250px;
    width: 100%;
    background: #D3D3D3;
}
/*轮播图*/
.con-one{
    width: 1349px;
    height: 600px;
    overflow: hidden;
}
.box{
    width: 1349px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
}
.con{
    width: 1349px;
    height: 600px;
    overflow: hidden;
}
.inn{
    width: 10000px;
    height: 600px;
    overflow: hidden;
}
.inn img{
    float: left;
    width: 1349px;
    height: 600px;
}
.list{
    width: 150px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -75px;
    list-style: none;
}
.list li{
    width: 20px;
    height: 20px;
    text-align: center;
    background: #ccc;
    color: green;
    line-height: 20px;
    font-size: 14px;
    float: left;
    margin-right: 17px;
    cursor: pointer;
    border-radius: 3px;
}
.list li.select{
    background: red;
    color: #fff;
}
.left,.right{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: rgba(227,98,9,0.3);
    position: absolute;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    left: 30px;
}
.right{
    left: 1239px;
}
.right:hover{
    background: rgba(232,232,232,0.5);
}
.left:hover{
    background: rgba(232,232,232,0.5);
}









